 .modal-loading {
         display: none;
         position: fixed;
         z-index: 1000000;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         background: rgba( 255, 255, 255, .8 ) url('../Images/sending2.gif') 50% 50% no-repeat;
     }
     /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
     body.loading .modal-loading {
         overflow: hidden;
     }

     /* Anytime the body has the loading class, our
    modal-loading element will be visible */
     body.loading .modal-loading {
         display: block;
     }
